.chart{
    margin: 100px;
    padding: 100px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 14px 8px 37px 1px rgba(0,0,0,0.42); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 14px 8px 37px 1px rgba(0,0,0,0.42);
}

.chartTitle{
    margin-bottom: 100px;
}